
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

html, input, select, button, .alert, .modal {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, h2 {
  margin: 0;
  font-weight: 300;
}

p {
  margin: 0;
  padding: 1rem;
}

input, select {
  font-size: 16px;
}

button {
  font-size: 16px;

  padding: 0.5em;

  border: none;
  box-shadow: 0px 0px 3px grey;
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1em;

  border-top: 4px black solid;
}

.action {
  display:flex;
  justify-content: flex-end;

  padding-top: 1em;

  button {

    &:first-child {
      margin-right: 0.5em;
    }
  }
}


// Task list and it's tasks
.task-list {
  padding-bottom: 1em;
}

.task {
  display: flex;
  align-items: center;

  padding: 0.5em;
  margin-bottom: 3px;

  border-left: 3px solid;

  button {
    margin: 0 0.5em 0 auto;
  }

  &:last-child {
    margin-bottom: 0;
  }

  input[type="checkbox"] {
    margin: 0 0.5em;
  }

  &.high-priority {
    background-color: #FAEAEA;
    border-color: #FDB0B6;
  }

  &.medium-priority {
    background-color: #FAF4DC;
    border-color: #F8E8AC;
  }

  &.low-priority {
    background-color: #EBF6FC;
    border-color: #B6E6F2;
  }
}

// New task form
.new-task-form {
  padding: 1em;
  margin: 5px 0;

  background-color: #EBFCEB;
  border-left: 3px solid #B6F2B7;

  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em 0 0;

    .group {
      display: flex;
      align-items: center;

      label {
        margin: 0;
        padding-right: 1em;
      }

      @media screen and (max-width: 575px) {
        padding-bottom: 0.5em;
      }
    }
  }

  .form-errors {

    p {
      padding: 0.5em 0 0.5em;
    }

    ul {
      margin: 0;
    }
  }
}

// Alerts

.alert {

  button {
    margin: 0;
    padding: 0.5em .75em;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
}

.alert {

  margin-bottom: 1em;
  padding: 0.5em 1em;

  .close {
    margin: 0;
    padding: 0.5em .75em;

    top: 4px;
    right: 18px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
  }
}

.alert-success {
  background-color: #EBFCEB;
  border: none;
  border-left: 3px solid #B6F2B7;
  color: #000;
}

// Modals
.modal-header {
  align-items: center;

  .close {
    margin: 0;
    padding: 0.5em .75em;

    font-size: 16px;
    font-weight: 300;
  }
}
