
html, input, select, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1, h2 {
  margin: 0;
  font-weight: 300;
}

p {
  margin: 0;
  padding: 1rem;
}

input, select {
  font-size: 16px;
}

button {
  font-size: 16px;

  padding: 0.5em;

  border: none;
  box-shadow: 0px 0px 3px grey;
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1em;

  border-top: 4px black solid;
}

// Task list and it's tasks
.task-list {
  padding-bottom: 1em;
}

.task {
  display: flex;
  align-items: center;

  padding: 0.5em;
  margin-bottom: 3px;

  border-left: 3px solid;

  &:last-child {
    margin-bottom: 0;
  }

  input[type="checkbox"] {
    margin: 0 0.5em;
  }

  &.high-priority {
    background-color: #FAEAEA;
    border-color: #FDB0B6;
  }

  &.medium-priority {
    background-color: #FAF4DC;
    border-color: #F8E8AC;
  }

  &.low-priority {
    background-color: #EBF6FC;
    border-color: #B6E6F2;
  }
}

// New task form
.new-task-form {
  padding: 1em;
  margin-bottom: 3px;

  background-color: #EBFCEB;
  border-left: 3px solid #B6F2B7;

  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em 0 0.5em;

    .form-group {
      display: flex;
      align-items: center;

      label {
        padding-right: 1em;
      }
    }

    .form-action {

      button {

        &:first-child {
          margin-right: 0.5em;
        }
      }
    }
  }

  .form-errors {

    p {
      padding: 0.5em 0 0.5em;
    }

    ul {
      margin: 0;
    }
  }
}
